{% extends "ola/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <p>
        <h3>Welcome to Ola Auto Q System!</h3>
    </p>
    <p>
        Eiusmod id cillum ea occaecat aliquip nisi consectetur commodo ex id. Aute non aliqua adipisicing Lorem aliqua
        duis qui minim tempor aliquip. Voluptate incididunt dolore id laborum dolore. Est ad consequat magna fugiat
        sint consectetur do est do eu aliquip. Aliqua ut excepteur esse et nulla excepteur aliqua culpa exercitation
        nisi ut nisi sit amet.
    </p>
</div>

<div class="container" style="margin:20px 0 50px;">
    <div class="panel panel-warning" style="background-color:#f9f5ec">
        <div class="panel-body text-center">

            <h2 class="text-center">
                Are you a
                <a href="drivers/">Driver</a>
                or
                <a href="customers/">Customer</a>
                or
                <a href="dashboard/">Admin</a>
                ?
            </h2>
        </div>
    </div>
</div>

{% endblock %}